body
{
    margin: 0 0;
    font-family: 'Courgette', cursive;
    display: flex;
    flex-direction: row;
    color: white;
    cursor: default;
}

h1
{
    text-align: center;
    height: 100px;
    min-height: 35px; 
    line-height: 100px;
    width: 100%;
    margin: 0 0;    
    
}

nav
{
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 100px;
    min-height: 100vh;
    background-color: black;
    flex-grow: 0;
    height: 120vh;
    z-index: 2;
    box-shadow: 6px 0px 12px black;
}
nav>div
{
    width: 100%;
}

nav>img
{
    height: 100px;
    width: 100%;
}

a
{
    font-size: 2em;
    color: white;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    width: 100%;
    height: 75px;
    line-height: 75px;
    margin: 10px 0;
    transition-duration: 0.4s;
    display: inline-block;
    position: relative;
}

a:after{
    position: absolute;
    content: '';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    transform-origin:left;
    transition:width 0.25s ease;
    z-index: -2;
}
  
a:hover
{
    color: black;
}
  
a:hover:after
{
    width: 99%;
}

.right
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90vw;
    background-image: url(../images/cafevienna.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    font-size: 1.2em;
}

footer
{
    width: 99%;
    height: 10vh;
    min-height: 60px;
    margin-top: 5px;
    
    
    padding: 10px 0 10px 10px;
    
}

.items
{
    padding-left: 5%;
}
section
{
    padding-left: 20px;
    padding-right: 10px;
    height: 45vh;
}

.directions>h2
{
    text-align: center;
    position: relative;
    right: 20px;
}

h3
{
    font-size: 1.2em;
}

p
{
    text-align: center;
    line-height: 2.5;
    margin: 0 30px;
    font-size: larger;
}




.content
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.6);

}



li
{
    margin: 15px 0;
}

.menu-items
{
    display: flex;
    flex-direction: column;
    height: 75%;
    
}

.menu-head
{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}


.menu-head>div
{
    width: 30%;
    text-align: center;
    transition-duration: 0.4s;
}

.menu-head>div:hover
{
    cursor: pointer;
    background-color: white;
    color: #e04141;
    transform: scale(1.1);
    box-shadow: 0 0 20px 0px black;
}

.menu-head>div>span
{
    font-size: 2em;
}

.menu-head>div>p
{
    font-size: 1em;
}

.music-head
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
}

.music-head>p
{
    width: 70%;
}

.music-desc
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-desc>div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button
{
    height: 35px;
    width: 90px;
    font-size: 14px;
    background-color: #ec5252;
    color: #ffffff;
    box-shadow: 6px 4px 10px 0px black;
    border-radius: 12px;
    border-style: solid;
    border-width: thin;
    outline-style: none;
    cursor: pointer;
    transition-duration: .4s;
}


.jobs-head
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 30%
}

.jobs-desc
{
    height: 70%;
    
}

.jobs-desc>form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding-left: 11%;
}

input#experience
{
    height: 40%;
    width: 40%;

}

input[type="submit"]
{
    width: 70px;
    height: 40px;
    font-size: 14px;
    background-color: #ec5252;
    color: #ffffff;
    box-shadow: 6px 4px 10px 0px black;
    border-radius: 12px;
    border-style: solid;
    border-width: thin;
    outline-style: none;
    cursor: pointer;
    transition-duration: .4s;
}

#event
{
    background-color: rgba(0, 0, 0, 0.6);
    height: 90vh;
    overflow: scroll;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
}

#event::-webkit-scrollbar {
    display: none;
}

#table
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.6);

}

.tlink
{
    all: unset;
}

.tlink:hover
{
    all: unset;
    cursor: pointer;
    color: white;
}
input[type="submit"]:hover
{
    background-color: white;
    color: #ec5252;    
}

@media all and (max-device-width: 600px)
{
    body
    {
        display: flex;
        flex-direction: column;
        font-size: 0.9em;
    }

    nav 
    {
        flex-direction: row;
        height: 140px;
        width: 100%;
        min-height: 75px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
    }
    
    a 
    {
        width: 25%;
        margin-top: -4px;
        height: 50px;
        transition: none;
    }

    a:hover
    {
        color: white;
        background-color: black;
    }

    a::after
    {
        transition: none;
    }

    nav>img 
    {
        display: none;
    }

    .right
    {
        width: 100%;
        
    }

    h1 {
        height: 70px;
        line-height: 70px;
    }

    section
    {
        height: 50%;
    }
    
    .directions
    {
        padding: 0;
    }

    p 
    {
        line-height: 2;
        font-size: medium;
    }
    
    .menu-desc
    {
        height: 30%;
        padding: 0;
    }

    .menu-desc p 
    {
        margin: 0 15px;
    }  

    .menu-items
    {
        padding: 0;
        height: 70%;
    }

    .menu-head 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .menu-head div
    {
        height: 23%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .menu-head div:hover
    {
        transform: none;
    }

    .menu-head div p br
    {
        display: none;
    }

    .directions h2
    {
        position: static;
    }

    section
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.95em;
    }

    h3 
    {
        font-size: 1.5em;
    }

    #table
    {
        height: 80vh;
    }

    li 
    {
        font-size: 1.3em;
    }

    footer 
    {
        padding-left: 0;
    }

    footer div
    {
        margin-left: 10px;
    }
}

@media all and (min-device-width: 601px) and (max-device-width: 1024px)
{
    body
    {
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
    }

    nav 
    {
        flex-direction: row;
        height: 140px;
        width: 100%;
        min-height: 75px;
        justify-content: space-around;
        align-items: center;
    }
    
    a 
    {
        width: 25%;
        margin-top: -4px;
        height: 50px;
        transition: none;
    }

    a:hover
    {
        color: white;
        background-color: black;
    }

    a::after
    {
        transition: none;
    }

    nav>img 
    {
        display: none;
    }

    .right
    {
        width: 100%;
        
    }

    h1 {
        height: 120px;
        line-height: 120px;
    }

    section
    {
        height: 50%;
    }
    
    .directions
    {
        padding: 0;
    }

    p 
    {
        line-height: 2.5;
        font-size: larger;
    }
    
    .menu-desc
    {
        height: 30%;
        padding: 0;
    }

    .menu-desc p 
    {
        margin: 0 15px;
    }  

    .menu-items
    {
        padding: 0;
        height: 70%;
    }

    .menu-head 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .menu-head div
    {
        height: 23%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .menu-head div:hover
    {
        transform: none;
    }

    .menu-head div p br
    {
        display: none;
    }

    .directions h2
    {
        position: static;
    }

    section
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 0.95em;
    }

    h3 
    {
        font-size: 1.5em;
    }

    #table
    {
        height: 80vh;
    }

    li 
    {
        font-size: 1.3em;
    }

    footer 
    {
        padding-left: 0;
    }

    footer div
    {
        margin-left: 10px;
    }
}



